
<div class="panel panel-warning">
    <div class="panel-heading">
        Server Component
    </div>
    <div class="panel-body">
        <p>server works!</p>
        <p>Form ID: {{serverId}}</p>
        <p>Status: {{isServerStatus}}</p>
        <p>From method: {{fromMethod()}}</p>
        <br>
        <input
            type="text"
            name="form-control"
            placeholder="First Name"
            (input)="getFirstName($event)">
         <p>First Name : {{inputValue}}</p>
    </div>
</div>